#### Blue Banquise file ####
## {{ ansible_managed }}
ENROOT_RUNTIME_PATH {{ enroot_runtime_path }}
ENROOT_CACHE_PATH {{ enroot_cache_path }} 
ENROOT_DATA_PATH {{ enroot_data_path }}
ENROOT_SQUASH_OPTIONS -noI -noD -noF -noX -no-duplicates
ENROOT_MOUNT_HOME y 
ENROOT_RESTRICT_DEV y
ENROOT_ROOTFS_WRITABLE y